{% extends 'layouts/base_page.html' %}

{% load static %}

{% block content %}

<div class="fs-2 fw-bold mb-3 mt-4 border-bottom">New question</div>

<form class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="questionTitle" class="form-label fs-5">Title</label>
        <input type="text" class="form-control  has-validation" id="questionTitle" value="{{ title }}" required>
        <div class="invalid-feedback">
            This field is required!
        </div>
    </div>

    <div class="mb-3">
        <label for="questionBody" class="form-label fs-5">Question</label>
        <textarea id="questionBody" rows="4" class="form-control" required></textarea>
        <div class="invalid-feedback">
            This field is required!
        </div>
    </div>

    <div class="mb-3">
        <label for="questionTags" class="form-label fs-5">Tags</label>
        <div class="row g-3 d-sm-flex">
            <div class="col-sm-9">
                <input type="text" class="form-control col-5" name="tags" id="questionTags"
                    placeholder="Type or select tags">
            </div>
            <div class="col">
                <select id="tagSelect" class="form-select col-2" onchange="copyTextValue()">
                    <option value="Add tag" selected>Add tag</option>
                    <option value="Python">Python</option>
                    <option value="Cpp">Cpp</option>
                    <option value="Google">Google</option>
                    <option value="Bootstrap">Bootstrap</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Animals">Animals</option>
                    <option value="Law">Law</option>
                    <option value="git">git</option>
                    <option value="Languages">Languages</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </div>
</form>

<script src="{% static '/js/scripts.js' %}"></script>

{% endblock %}