{% load static %}

<div class="d-flex align-items-baseline m-sm-0 mt-2">
    <button class="btn btn-outline-success"><img src="{% static '/img/upvote.png' %}" height="23" alt=""></button>

    {% if item.rating > 0 %}
    <p class="card-text fs-3 text-success px-1">{{ item.rating }}</p>
    {% elif item.rating < 0 %} 
    <p class="card-text fs-3 text-danger px-1">{{ item.rating }}</p>
    {% else %}
    <p class="card-text fs-3 text-secondary px-1">{{ item.rating }}</p>
    {% endif %}
    <button class="btn btn-outline-danger"><img src="{% static '/img/downvote.png' %}" height="23" alt=""></button>
</div>